*{
    padding: 0;
    margin: 0;
}

/*********************************************
FONT
********************************************/

@font-face {
    font-family: 'Bran';
    src: url('../font/BrannbollFet.eot');
    src: url('../font/BrannbollFet.eot?#iefix') format('embedded-opentype'),
        url('../font/BrannbollFet.woff2') format('woff2'),
        url('../font/BrannbollFet.woff') format('woff'),
        url('../font/BrannbollFet.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../font/FuturaExtended.eot');
    src: url('../font/FuturaExtended.eot?#iefix') format('embedded-opentype'),
        url('../font/FuturaExtended.woff2') format('woff2'),
        url('../font/FuturaExtended.woff') format('woff'),
        url('../font/FuturaExtended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/****** FIN FONTS ******/

html{
    scroll-behavior: smooth;
}


header{
    height: 100vh;
    background: url("../img/fond.jpg") bottom right;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav{
    position: fixed;
    top: 50%;
    left:10%;
    transform: translateY(-50%);
}

header nav ul{

list-style: none;
}

header nav ul li{

list-style: none;
 padding: 10px, 0;
text-shadow: 2px 2px 4px;
 
 }
 header nav ul li a{
    font-family: 'Futura';
     text-decoration:none; /* supprime le soulignement */
     color: white; 
     font-family: Arial, Helvetica, sans-serif; 
     font-weight:bold;
     font-size: 30PX;
     text-transform: uppercase;
 }


header nav ul li:nth-of-type(1){

border-bottom: 2px solid white;
}
     
header div {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center ;
    border-radius: 50%;
    background: #333;
}

header h1{
    font-size: 50px;
    font-family: 'Bran';
text-align: center;
color:  white;
line-height: 56px;
}
header h1::first-letter{
    text-transform: uppercase;
}
main{
    display: flex;
    justify-content: flex-end;
    background: #333;
}
main section {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;

}

main section div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}
main section>div{
    margin: 25px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
main section div img{
    width: 100%;
    opacity: 0.8;
    transition: 0.5s;
}

main section div div {
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.8);
    transition: 0.5s;
}

main section>div:hover div{

    transform: scale(0);}


main section>img:hover div{

    transform: scale(1.2);

}    
footer{
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 20px;
    color: white;
    front font-family:"bran";
}

    